@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello, there! General Kenobi!</h1>

<h1>image</h1>
<img src="https://img.freepik.com/premium-photo/aerial-view-beautiful-beach-sunset-drone-photography_934652-6287.jpg" />
<br />
<h1>Google Maps</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23661.85206503875!2d24.713625599999997!3d42.156031999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acce20719cf3e1%3A0x614581f6f00d030d!2z0J_Qu9C-0LLQtNC40LLRgdC60LjRj9GCINGD0L3QuNCy0LXRgNGB0LjRgtC10YIg4oCe0J_QsNC40YHQuNC5INCl0LjQu9C10L3QtNCw0YDRgdC60LjigJw!5e0!3m2!1sbg!2sbg!4v1727938178595!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br />
<h1>Youtube Video</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mvyJrY1ZmLY?si=jnjtL0bn5D9yKWI7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>